__pycache__/
*.py[cod]
.pytest_cache/

venv/
Style-Bert-VITS2/

config.json
llm.json
llm_sequence.json
log/
speech/
movie/
sample/

KoboldCpp/*.exe
KoboldCpp/koboldcpp-linux-x64
KoboldCpp/koboldcpp-mac-arm64
KoboldCpp/*.gguf
